html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
  color: rgb(204, 214, 246);
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a192f;
  box-shadow: 0 8px 6px -6px black;
}

.logo {
  margin-left: 30px;
}
.logo .fa-solid.fa-m {
  color: rgb(12, 247, 12);
}

ol {
  list-style: none;
  counter-reset: li;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 40px;
}
ol li::before {
  content: counter(li) ".";
  color: rgb(12, 247, 12);
  display: inline-block;
  width: 1.2em;
  margin-left: -1em;
}
ol li {
  cursor: pointer;
  counter-increment: li;
}
ol li:hover {
  color: rgb(12, 247, 12);
}

.nav-elements a {
  color: inherit;
  text-decoration: inherit;
}

.resume-btn {
  width: 70px;
  height: 35px;
  background-color: #0a192f;
  color: rgb(12, 247, 12);
  border: 2px groove rgb(12, 247, 12);
  border-radius: 3px;
}

.resume-btn:hover {
  cursor: pointer;
  background-color: rgb(6, 60, 6);
}

label .menu {
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 2;
  width: 60px;
  height: 60px;
  background: #0a192f;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 35px;
  left: 10px;
  width: 30px;
  height: 2px;
  background: #69d2e7;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #69d2e7;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ol {
  opacity: 1;
}

label ol {
  z-index: 4;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 200px;
  top: 200px;
  right: -110px;
  margin-right: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
  background-color: #112240;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: rgb(204, 214, 246);
  text-decoration: none;
}

section {
  min-height: 100vh;
}

.intro-section {
  margin-top: 70px;
}

.intro-section .colored-intro-p {
  color: rgb(12, 247, 12);
}

main {
  width: 70%;
  margin: 0 auto 0 auto;
}

.intro-section h1 {
  font-size: 3.5rem;
  line-height: 50px;
}

.intro-text {
  max-width: 540px;
}

.left-bar {
  position: fixed;
  height: 80vh;
  bottom: 0;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.left-bar .fa-brands:hover {
  color: rgb(12, 247, 12);
  cursor: pointer;
  transform: rotate(20deg);
  transition: 0.5s;
}

.education-section {
  margin-top: 10px;
}

.edu-heading-container,
.contact-heading-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.edu-heading-container .horizontal-line,
.contact-heading-container .horizontal-line {
  border-bottom: 1px solid rgb(12, 247, 12);
  width: 100%;
}

.right-bar {
  position: fixed;
  height: 80vh;
  width: 10%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.vl {
  border-left: 4px solid rgb(12, 247, 12);
  height: 170px;
  margin-left: -3px;
}

.master-degree,
.bachelor-degree {
  padding: 10px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(12, 247, 12), rgba(0, 0, 0, 0)) 1 100%;
  margin-top: 30px;
}

.udemy-certificate {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
  padding: 10px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(12, 247, 12), rgba(0, 0, 0, 0)) 1 100%;
  margin-top: 30px;
}

.udemy-heading,
.uni-heading {
  font-size: 2rem;
}

.major {
  font-weight: 500;
}

.udemy-img {
  height: 80%;
  width: 50%;
}

.tooltip {
  position: relative;
  display: inline-block;
  writing-mode: vertical-rl;
  letter-spacing: 1.5px;
}

.tooltip:hover {
  cursor: pointer;
  color: rgb(12, 247, 12);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  writing-mode: horizontal-tb;
  /* Position the tooltip */
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.md-shop,
.rest-countries {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.md-shop-screenshot,
.rest-countries-screenshot {
  width: 50%;
}

.md-shop-desc {
  grid-column-start: 1;
  grid-column-end: 4;
}

.redux-logo {
  height: 16px;
  width: 16px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-btn {
  width: 120px;
  height: 50px;
  padding: 0;
  background-color: #0a192f;
  color: rgb(12, 247, 12);
  border: 2px groove rgb(12, 247, 12);
  border-radius: 3px;
}
.contact-btn a {
  color: inherit;
  text-decoration: inherit;
}

.contact-btn:hover {
  cursor: pointer;
  background-color: rgb(6, 60, 6);
}

@media (min-width: 680px) {
  label .menu {
    display: none;
  }
}
@media (max-width: 680px) {
  nav .nav-elements {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
