body {
  background-color: #0a192f;
  color: white;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 30px;
}
.logo .fa-solid.fa-m {
  color: rgb(12, 247, 12);
}

ol {
  list-style: none;
  counter-reset: li;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 40px;
}
ol li::before {
  content: counter(li) ".";
  color: rgb(12, 247, 12);
  display: inline-block;
  width: 1.2em;
  margin-left: -1em;
}
ol li {
  cursor: pointer;
  counter-increment: li;
}
ol li:hover {
  color: rgb(12, 247, 12);
}

.resume-btn {
  width: 70px;
  height: 35px;
  background-color: #0a192f;
  color: rgb(12, 247, 12);
  border: 2px groove rgb(12, 247, 12);
  border-radius: 3px;
}

.resume-btn:hover {
  cursor: pointer;
  background-color: rgb(6, 60, 6);
}

.intro-section .colored-intro-p {
  color: rgb(12, 247, 12);
}

main {
  width: 70%;
  margin: 0 auto 0 auto;
}

.intro-section h1 {
  font-size: 3.5rem;
  line-height: 50px;
}

.intro-text {
  max-width: 540px;
}

.left-bar {
  position: fixed;
  height: 80vh;
  bottom: 0;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.left-bar .fa-brands:hover {
  color: rgb(12, 247, 12);
  cursor: pointer;
  transform: rotate(20deg);
  transition: 0.5s;
}

.education-section {
  margin-top: 10px;
}

.edu-heading-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.edu-heading-container .horizontal-line {
  border-bottom: 1px solid rgb(12, 247, 12);
  width: 100%;
}

.right-bar {
  position: fixed;
  height: 80vh;
  width: 10%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.vl {
  border-left: 4px solid rgb(12, 247, 12);
  height: 170px;
  margin-left: -3px;
}

.master-degree,
.bachelor-degree {
  border: 1px solid rgb(12, 247, 12);
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 30px;
}

.udemy-certificate {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgb(12, 247, 12);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 30px;
}

.udemy-heading,
.uni-heading {
  font-size: 2rem;
}

.major {
  font-weight: 500;
}

.udemy-img {
  height: 80%;
  width: 50%;
}

.tooltip {
  position: relative;
  display: inline-block;
  writing-mode: vertical-rl;
  letter-spacing: 1.5px;
}

.tooltip:hover {
  cursor: pointer;
  color: rgb(12, 247, 12);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  writing-mode: horizontal-tb;
  /* Position the tooltip */
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*# sourceMappingURL=index.css.map */
